.builder-designer-container {
    font-size: 1rem;

    mat-card {
        min-height: 500px;

        .drag-drop-here {
            font-size: 1.5rem;
            line-height: 20;
            text-align: center;

            i {
                font-size: 2rem;
                margin-right: 5px;
                vertical-align: text-bottom;
            }
        }
    }
}