.builder-toolbox-container {
    mat-card-title {
        margin-bottom: 15px;
    }
    
    mat-card-content {
        mat-chip-list {
            mat-chip {
                cursor: grab;
                margin-bottom: 10px;

                i {
                    margin-right: 3px;
                }
            }
        }
    }
}