.builder-properties-container {
    border: solid 3px lightgrey;
    border-radius: 5px;
    font-size: 1.2rem;

    header {
        background-color: lightgrey;
        font-size: 1.7rem;
        font-weight: 500;
        padding: 20px;
        text-transform: uppercase;
    }

    section {
        min-height: 398px;
        position: relative;
        width: 100%;

        button.apply {
            background-color: lightgrey;
            border-radius: 5px;
            bottom: 15px;
            cursor: pointer;
            font-size: 1.2rem;
            height: 35px;
            position: absolute;
            right: 15px;
            width: 80px;
        }
    }
}