.builder-properties-container {
    padding: 15px;

    .property {
        margin-bottom: 20px;

        .option {
            margin-top: 10px;
            margin-left: 20px;
        }

        .add-option {
            color: lightgrey;
            cursor: pointer;
        }

        .add-option:hover {
            color: grey;
            cursor: pointer;
        }

        .add-option:active {
            color: initial;
            cursor: pointer;
        }

        .remove-option {
            color: lightgrey;
            cursor: pointer;
        }

        .remove-option:hover {
            color: grey;
            cursor: pointer;
        }

        .remove-option:active {
            color: initial;
            cursor: pointer;
        }
    }
}